@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Montserrat', sans-serif;
	background: #eaeaea;
}

/* Padding Styles */
.paddingX {
	@apply sm:px-[100px] px-6;
}

/* Flex Styles */
.flex-center {
	@apply flex justify-center items-center;
}

.flex-between {
	@apply flex justify-between items-center;
}

.flex-start {
	@apply flex justify-center items-start;
}

/* Font Styles */
.product-card-title {
	@apply font-montserrat font-semibold text-[17px] leading-5
}

/* Navbar Styles */
.drop-down button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
} 

.navbar__mobile__text {
	@apply text-[15px] font-medium leading-5 hover:text-orange transition-all duration-300
}